<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <title>Memo</title>
</head>
<body>
    <div class="main">
        <div class="working">
            <h2>Memo title</h2>
            <p>
                about the work is being done
            </p>
            <button>done</button>
        </div>
        <div class="working">
            <h2>Memo title</h2>
            <p>
                about the work is being done
            </p>
            <button>done</button>
        </div>
        <div class="working">
            <h2>Memo title</h2>
            <p>
                about the work is being done
            </p>
            <button>done</button>
        </div>
    </div>
</body>
</html>